<a href="https://colab.research.google.com/github/bmt21417/bmt_python/blob/main/21417_9%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
import pandas as pd
import numpy as np

s = pd.Series([1, 3, 5, np.nan, 6, 8]) 
print(type(s))
print(s)

print(type(df))
print(df)
df

<class 'pandas.core.series.Series'>
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
<class 'pandas.core.frame.DataFrame'>
                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114

                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114

In [5]:
type(s)

pandas.core.series.Series

In [6]:
dates = pd.date_range('20210430', periods=6)

In [15]:
df

                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114

In [22]:

df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20210430'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

In [23]:
df2

     A          B    C  D      E    F
0  1.0 2021-04-30  1.0  3   test  foo
1  1.0 2021-04-30  1.0  3  train  foo
2  1.0 2021-04-30  1.0  3   test  foo
3  1.0 2021-04-30  1.0  3  train  foo

In [24]:
type(df2)

pandas.core.frame.DataFrame

In [25]:
df.head()

                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423

In [26]:
df.tail()

                   A         B         C         D
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114

In [27]:
df

                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114

In [28]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [33]:
df.values

array([[ 0.25216655, -0.58686624,  0.28853296,  1.18000749],
       [-0.52439612,  0.91696744,  2.17511591, -0.33060261],
       [ 0.75035444, -0.42006553, -1.28481397,  0.98275889],
       [-0.62849413,  0.42532791, -0.10901835, -0.33238265],
       [-0.85243879, -0.29297466,  0.8035369 , -0.85342331],
       [ 0.92145412, -0.42816793, -1.05344717, -0.13611424]])

In [34]:
df

                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114

In [37]:
df.T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    0.252167   -0.524396    0.750354   -0.628494   -0.852439    0.921454
B   -0.586866    0.916967   -0.420066    0.425328   -0.292975   -0.428168
C    0.288533    2.175116   -1.284814   -0.109018    0.803537   -1.053447
D    1.180007   -0.330603    0.982759   -0.332383   -0.853423   -0.136114

In [42]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114

In [45]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-04-30  0.252167 -0.586866  0.288533  1.180007

In [47]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-01 -0.524396  0.916967  2.175116 -0.330603
2021-04-30  0.252167 -0.586866  0.288533  1.180007

In [48]:
df.sort_values(by='B')

                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-04 -0.852439 -0.292975  0.803537 -0.853423
2021-05-03 -0.628494  0.425328 -0.109018 -0.332383
2021-05-01 -0.524396  0.916967  2.175116 -0.330603

In [49]:
df['A']

2021-04-30    0.252167
2021-05-01   -0.524396
2021-05-02    0.750354
2021-05-03   -0.628494
2021-05-04   -0.852439
2021-05-05    0.921454
Freq: D, Name: A, dtype: float64

In [50]:
df['C']

2021-04-30    0.288533
2021-05-01    2.175116
2021-05-02   -1.284814
2021-05-03   -0.109018
2021-05-04    0.803537
2021-05-05   -1.053447
Freq: D, Name: C, dtype: float64

In [51]:
df[ ['A','B'] ]

                   A         B
2021-04-30  0.252167 -0.586866
2021-05-01 -0.524396  0.916967
2021-05-02  0.750354 -0.420066
2021-05-03 -0.628494  0.425328
2021-05-04 -0.852439 -0.292975
2021-05-05  0.921454 -0.428168

In [53]:
df.loc['20210430']

A    0.252167
B   -0.586866
C    0.288533
D    1.180007
Name: 2021-04-30 00:00:00, dtype: float64

In [55]:
df.loc['20210430':'20210503',['A','B','C']]

                   A         B         C
2021-04-30  0.252167 -0.586866  0.288533
2021-05-01 -0.524396  0.916967  2.175116
2021-05-02  0.750354 -0.420066 -1.284814
2021-05-03 -0.628494  0.425328 -0.109018

In [56]:
df.iloc[0:3,3:4]

                   D
2021-04-30  1.180007
2021-05-01 -0.330603
2021-05-02  0.982759

In [59]:
df.A

2021-04-30    0.252167
2021-05-01   -0.524396
2021-05-02    0.750354
2021-05-03   -0.628494
2021-05-04   -0.852439
2021-05-05    0.921454
Freq: D, Name: A, dtype: float64

In [60]:
df.A > 0

2021-04-30     True
2021-05-01    False
2021-05-02     True
2021-05-03    False
2021-05-04    False
2021-05-05     True
Freq: D, Name: A, dtype: bool

In [62]:
df[df. A > 0]

                   A         B         C         D
2021-04-30  0.252167 -0.586866  0.288533  1.180007
2021-05-02  0.750354 -0.420066 -1.284814  0.982759
2021-05-05  0.921454 -0.428168 -1.053447 -0.136114

In [63]:
df > 0

                A      B      C      D
2021-04-30   True  False   True   True
2021-05-01  False   True   True  False
2021-05-02   True  False  False   True
2021-05-03  False   True  False  False
2021-05-04  False  False   True  False
2021-05-05   True  False  False  False

In [64]:
df [df > 0]

                   A         B         C         D
2021-04-30  0.252167       NaN  0.288533  1.180007
2021-05-01       NaN  0.916967  2.175116       NaN
2021-05-02  0.750354       NaN       NaN  0.982759
2021-05-03       NaN  0.425328       NaN       NaN
2021-05-04       NaN       NaN  0.803537       NaN
2021-05-05  0.921454       NaN       NaN       NaN